<section class="mainWrapper">
    <div class="topSection">
        <div class="leftSide">
            <h2 class="title" [title]="title">
                {{title}}
            </h2>
        </div>

        @if(!hideActions){
            <div class="rightSide">
                <button 
                    class="actionMenu" 
                    [ngClass]="t.menuOpen ? 'active':'inActive'"
                    mat-icon-button 
                    #t="matMenuTrigger" 
                    [matMenuTriggerFor]="actionMenu" 
                >
                <mat-icon>more_vert</mat-icon>
                <mat-menu #actionMenu="matMenu">
                    @for(action of actions; track action){
                        @if(!action.isHidden){
                            <button [disabled]="action.isDisable" (click)="action.action(action)" mat-menu-item>
                                <span>{{action.title}}</span>
                            </button>
                        }
                    }
                </mat-menu>
            </button>
            </div>
        }
    </div>
    <div class="buttonSection" [formGroup]="form">
        @if(showLibelle){
            <div class="overflowX100">
                <mat-button-toggle-group 
                    formControlName="libelle"
                    [hideSingleSelectionIndicator]="true" 
                    (change)="onToggleButtonChange($event.value)">
                    @for(libelle of libelles; track libelle; let index = $index){
                        @if (!libelle.isHidden) {
                            <mat-button-toggle [disabled]="libelle.isDisable" [value]="index">{{libelle.title}}</mat-button-toggle>
                        }
                    }
                </mat-button-toggle-group>
            </div>
        }
        @if(slideToggleOptions && !slideToggleOptions.isHidden){
            <mat-slide-toggle 
                formControlName="slideToggle"
                [hideIcon]="true"
                >
                {{slideToggleOptions.title}}
            </mat-slide-toggle>
        }
    </div>
</section>
{{form.getRawValue() | json}}