$couleur-vert-desjadins: #00884e;
$main-title: 350px;
$custom-mdc-icon-button-state-layer-size: 32px;
$left-right-title-padding: 10px;
$button-section-bottom-margin: 2px; // pour laisser de la place a la barre de defilement


.mainWrapper{
    background-color: white;
    flex: 1;
    display: flex;
    flex-direction: column;
    font-size: 16px;
    border-top-right-radius: 16px;
    padding: 5px $left-right-title-padding;
    border: 1px solid $couleur-vert-desjadins;
    max-width: calc($main-title + $left-right-title-padding + $custom-mdc-icon-button-state-layer-size);

    .topSection{
        display:flex;
        flex-direction: row;
        .leftSide{
            flex: 1;
            
            .title{
                max-width: $main-title;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }
    
        .rightSide{
            // padding-left: 10px;
    
            .actionMenu{
                border: 2px solid $couleur-vert-desjadins;
                border-radius: 8px;
                --mdc-icon-button-state-layer-size: #{$custom-mdc-icon-button-state-layer-size};
                --mdc-icon-button-icon-size: 28px;
                padding: 0;
                
                &.active{
                    background-color: $couleur-vert-desjadins
                }
            }
            ::ng-deep{
                .mat-mdc-icon-button:hover .mat-mdc-button-persistent-ripple::before {
                    border-radius: 8px;
                }
            }           
        }
    }
    .buttonSection{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;


        > :not(:last-child){
            margin-right: 10px;
        }

        .overflowX100{
            // max-width: 100px;
            overflow-x: auto;
            height: fit-content;
            
            mat-button-toggle-group{
                height: 20px;
                align-items: center;
                border-radius: 16px;
                margin-bottom: $button-section-bottom-margin;
        
                .mat-button-toggle-checked{
                    background-color: $couleur-vert-desjadins
                }
            }
        }


        mat-slide-toggle{
            flex: 1;
            margin-bottom: $button-section-bottom-margin;
            margin-left: auto;
            transform: translateX(2.5px);
            --mdc-switch-track-width: 40px;
            --mdc-switch-unselected-track-color: white;
            --mdc-switch-selected-handle-color: white;
            --mdc-switch-track-shape: 14px;
            --mat-switch-unselected-handle-size: 14px;
            --mat-switch-selected-handle-size: 14px;
            --mdc-switch-track-height: 20px;
            ::ng-deep{
                .mdc-switch__track{
                    transform: translateX(-2.5px);
                    border: 1px solid $couleur-vert-desjadins;
                }
                .mdc-label{
                    --mdc-form-field-label-text-size: 14px;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;    
                }
            }
        }
    }
}

/* width */
::-webkit-scrollbar {
    height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: $couleur-vert-desjadins; 
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: $couleur-vert-desjadins;
    opacity: 50%; 
}

