:host{
    display: flex;
    flex-direction: row;
    margin: 20px;
    
    .composantList{
        display: flex;
        flex-direction: column;

        app-composant-examen{
            &:not(:last-of-type){
                padding-bottom: 15px;
            }
        }
    }
}
