<section class="composantList">
      @for(component of demoComponents; track component){
            <app-composant-examen 
                  [title]="component.title"
                  [hideActions]="component.hideActions"
                  [actions]="component.actions"
                  [libelles]="component.libelles"
                  [slideToggleOptions]="component.slideToggleOptions"
                  (resultForm)="showResult($event)"
                  >
            </app-composant-examen>
      }
</section>